<div class="row mt-2">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button [routerLink]="['nuevo']" routerLinkActive="active"  type="button" class="btn btn-secondary">
        Nuevo
      </button>

      <button [routerLink]="['editar']" routerLinkActive="active"  type="button" class="btn btn-secondary">
        Editar
      </button>
      
      <button [routerLink]="['detalle']" routerLinkActive="active"  type="button" class="btn btn-secondary">
        Detalle
      </button>
    </div>
    
  </div>
</div>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
