<div [ngClass]="alerta" class="alert" role="alert">
  Alerta! 
</div>

<button type="button" class="m-2 btn btn-info" (click)="alerta = 'alert-info'">
  Info
</button>

<button type="button" class="m-2 btn btn-success" (click)="alerta = 'alert-success'">
  success
</button>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">
  Hola mundo
</h3>

<button type="button" class="m-2 btn" (click)="propiedades.danger = !propiedades.danger" [ngClass]=" {'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
  Cambiar
</button>

<h3>
  Proceso asíncrono
</h3>

<button (click)="ejecutar()" class="btn btn-primary" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{ 'fa-save': !loading, ' fa-refresh fa-spin': loading }" class="fa"></i>

  <span *ngIf="!loading">
    Guardar cambios
  </span>

  <span *ngIf="loading">
     Espere por favor
  </span>
</button>

